<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <label>
        <input type="checkbox" id="pagination" [checked]="pagination" (change)="pagination = !pagination" > Pagination
      </label>
      <label for="page" class="col-lg-2 control-label">Page #:</label>
      <input type="text" id="page" class="form-control" [(ngModel)]="page" size="2">
    </div>
      <button class="btn btn-primary" (click)="requestLaunchStream()">Reactive Request</button>
      <button class="btn btn-primary" (click)="requestLaunchBlocking()">Blocking Request</button>
    <table class="table  table-hover">
      <thead>
      <tr>
        <th>Quote ID</th>
        <th>Book</th>
        <th>Quote content</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let launch of launchArray" [class.success]="launch === selectedLaunch" (click)="onSelect(launch)">
        <td>{{launch.id}}</td>
        <td>{{launch.name}}</td>
        <td>{{launch.description.substr(0, 30)}}...</td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="message">Click on a launch for more details</div>
    <app-launch-detail *ngIf="selectedLaunch" [launch]="selectedLaunch"></app-launch-detail>
  </div>
</div>
