<div class="row">
  <div class="col-md-8">
    <p>
      <label>Pagination:
        <input type="checkbox"  class="form-control" [checked]="pagination" (change)="pagination = !pagination" >
        <label>Page #:
          <input type="text"  class="form-control" [(ngModel)]="page" size="2">
        </label>
      </label>
      <button class="btn btn-primary" (click)="requestLaunchStream()">Reactive Request</button>
      <button class="btn btn-primary" (click)="requestLaunchBlocking()">Blocking Request</button>
    </p>
    <table class="table  table-hover">
      <thead>
      <tr>
        <th>Quote ID</th>
        <th>Book</th>
        <th>Quote content</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let launch of launchArray" [class.success]="launch === selectedLaunch" (click)="onSelect(launch)">
        <td>{{launch.id}}</td>
        <td>{{launch.name}}</td>
        <td>{{launch.description.substr(0, 30)}}...</td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="message">Click on a launch for more details</div>
    <app-launch-detail *ngIf="selectedLaunch" [launch]="selectedLaunch"></app-launch-detail>
  </div>
</div>
