<div class="row">
  <div class="col-md-8">

    <div class="page">
      <label for="page" class="control-label page-label">Page #:</label>
      <div class="col-lg-10">
        <input type="text" id="page" class="form-control page-input" [(ngModel)]="page">
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary button" (click)="requestLaunchStream()">Reactive Request</button>
      <button class="btn btn-primary" (click)="requestLaunchBlocking()">Blocking Request</button>
    </div>

    <table class="table  table-hover">
      <thead>
      <tr>
        <th>Launch ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let launch of launchArray" [class.success]="launch === selectedLaunch" (click)="onSelect(launch)">
        <td>{{launch.id}}</td>
        <td>{{launch.name}}</td>
        <td>{{launch.description.substr(0, 30)}}...</td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="message" *ngIf="!selectedLaunch">Click on a launch for more details</div>
    <app-launch-detail *ngIf="selectedLaunch" [launch]="selectedLaunch"></app-launch-detail>
  </div>
</div>
